@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: NorseFont;
  src: url(assets/fonts/Norse-Bold.otf);
}

/* Globals Area */
:root {
  --primary-color: black;
  --secondary-color: white;
  --text-color: #202020;
  --border-color: #e0e0dd;
  --border-active-color: #596d48;
  --main-content-padding: 20px;
}
* {
  transition: 0.2s all;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}
/* Layout Area */
.wrapper {
  background-color: red;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.form-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-wrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-block: var(--main-content-padding);
  padding-inline: calc(3 * var(--main-content-padding));
}
.form-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
h3 {
  font-size: 25px;
  margin-block: 2rem;
}
/* form Item Area */
.form-item {
  margin-bottom: 2rem;
}
input {
  appearance: none;
  outline: none;
  border: none;
  border: 2px solid var(--border-color);
  padding: 6px 3px;
  border-radius: 5px;
  width: 300px;
}
label {
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
}
input:focus {
  border: 2px solid var(--border-active-color);
}
input:focus:invalid {
  border: 2px solid red;
}
.form-actions {
  padding: var(--main-content-padding);
}
button {
  padding: 10px;
  background-color: var(--border-active-color);
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
  padding-inline: 50px;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 1rem;
}
button:hover {
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
